body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#dialogion {
  position: absolute;
  margin: 0; /* `margin: auto;` is the default. */
  transform: translateX(-50%);
  left: 50%;
  z-index: 2;
}




.b-65{
  display: inline-block;
  outline: none;
  border-width: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  background: rgb(0, 82, 204);
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  margin-left: 10px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.b-65:hover {
  background: rgb(0, 101, 255);
  text-decoration: inherit;
  transition-duration: 0s, 0.15s;
  color: rgb(255, 255, 255);
}
.b-65:focus {
  border: solid 1px #ee0c0c;
}

